

<div class="gallery">
  <%= image_tag("/gallery.jpeg", :size => "1800x750") %>
</div>

<h1 class="item-list"><strong>商品一覧</strong></h1>



<ul class="cy-column1">

<li>
<%= link_to image_tag("/wine1.jpeg", :size => "180x400"),"/verify_age" %>
<p>Chateu Lisennes Bordeaux 2018</p>
<p><strong>　1,290円　</strong> (税込)</p>
</li>

<li>
<%= link_to image_tag("/wine2.jpeg", :size => "180x400"),"/items/2" %>
<p>Clairer de Lisennes</p>
<p><strong>　1,290円　</strong> (税込)</p>
</li>

<li>
<%= link_to image_tag("/wine3.jpeg", :size => "180x400"),"/items/3" %>
<p>Cremant de Lisennes Rose </p>
<p><strong>　1,780円　</strong> (税込)</p>
</li>

<li>
<%= link_to image_tag("/wine4.jpeg", :size => "180x400"),"/items/4" %>
<p>Cremant de Lisennes Blanc</p>
<p><strong>　1,780円　</strong> (税込)</p>
</li>

<li>
<%= link_to image_tag("/wine5.jpeg", :size => "180x400"),"/items/5" %>
<p>Blanc de Lissenes</p>
<p><strong>　1,290円　</strong> (税込)</p>
</li>

<li>
<%= link_to image_tag("/wine6.jpeg", :size => "180x400"),"/items/6" %>
<p>Chateau de Lisennes 7Hectares Rose 20218</p>
<p><strong>　1,780円　</strong> (税込)</p>
</li>

</ul>
<%= image_tag("/hyousiki.png", :size => "800x256") %>

<br>
<br>
